<html>
    <head>
        <title>Community Events Board</title>
    </head>
    <body>
      <h1>Community Events Board</h1>
      <div class="event-list">
        <ul>
          {% for event in events %}
            <li>{{ event.event }} - {{ event.date }} ({{event.user}}) [<a href='/remove/{{event._id }}'>x</a>]</li>
          {% endfor %}
        </ul>
      </div> 
      <h3><a href="/sortevents">SORT </a>EVENTS</h3> 
      <h3>Go to <a href="/displayform">FORM</a></h3>       
    </body>
</html>
